html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-table {
    display: flex;
    margin: 5rem 5rem;
}

.centered {
    text-align: center;
}

.new-employee-form {
    margin: 2rem 5rem;
}

.top10 {
    margin-top: 10px;
}